<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.directwebremoting.org/schema/spring-dwr
    http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

<dwr:configuration>

  <dwr:convert type="bean" class="org.autopipes.model.FloorDrawing" />
  <dwr:convert type="bean" class="org.autopipes.model.DrawingOptions" />
  <dwr:convert type="bean" class="org.autopipes.model.AreaOptions" />
  <dwr:convert type="bean" class="org.autopipes.model.DrawingLayer" />
  <dwr:convert type="enum" class="org.autopipes.model.DrawingLayer$Designation"/>
  <dwr:convert type="bean" class="org.autopipes.model.DrawingArea" />
  <dwr:convert type="bean" class="org.autopipes.model.AreaCutSheet" />
  <dwr:convert type="enum" class="org.autopipes.model.DrawingArea$Readiness"/>
  <dwr:convert type="bean" class="org.autopipes.model.AreaCutSheet$CutSheetInfo" />
  <dwr:convert type="bean" class="org.autopipes.model.AreaCutSheet$MainCutSheetInfo" />
  <dwr:convert type="bean" class="org.autopipes.model.AreaCutSheet$OutletInfo" />
  <dwr:convert type="bean" class="org.autopipes.model.Pipe" />
  <dwr:convert type="bean" class="org.autopipes.model.PipeAttachment" />
  <dwr:convert type="bean" class="org.autopipes.model.AreaCutSheet$EdgeMultiplicity" />
  <dwr:convert type="bean" class="org.autopipes.model.AreaCutSheet$BranchInfo" />
  <dwr:convert type="bean" class="org.autopipes.takeout.Fitting" />
  <dwr:convert type="enum" class="org.autopipes.takeout.Fitting$Type" />
  <dwr:convert type="enum" class="org.autopipes.takeout.Fitting$Direction" />
  <dwr:convert type="enum" class="org.autopipes.model.PipeFitting$Jump" />
  <dwr:convert type="enum" class="org.autopipes.takeout.Diameter"/>
  <dwr:convert type="enum" class="org.autopipes.takeout.Vendor"/>
  <dwr:convert type="enum" class="org.autopipes.takeout.Attachment"/>
</dwr:configuration>

</beans>
